<!DOCTYPE html>
<html>

<head>
    <title>Home - Bartendance</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <style>
        a {
            text-decoration: none;
        }
        
        button {
            background-color: #505050;
        }
        
        button:hover {
            background: #404040;
            box-shadow: 0px 2px 13px -5px #606060;
        }
    </style>
</head>

<body>
    <div style="background-color: #70a0f4" class="container">
        <!-- Signup form -->
        <div class="form-group">
            <img class="logo" src="logo.png" alt="bartendance cover photo">
            <a href="/signup"><button type="submit" class="signin">Sign Up</button></a>
            <a href="/login"><button type="submit" class="signin">Sign In</button></a>
        </div>
    </div>
</body>

</html>