<!DOCTYPE html>
<html>

<head>
    <title>Sign Up - Bartendance</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="container">
        <div align="center">
            <h2 class="active">sign up</h2>
        </div>
        <!-- Signup form -->
        <form action="/signup" method="post">
            <div class="form-group">
                <input type="text" class="text form-control" name="studentID">
                <span>student id</span><br><br>
            </div>
            <div class="form-group">
                <input type="password" class="text form-control" name="password">
                <span>password</span><br>
            </div>
            <button type="submit" class="signin">Sign Up</button>
        </form>
        <hr>
    </div>
</body>

</html>